---
---

@import 'bootstrap/bootstrap';
@import 'custom/markdown';

.b5t3-navbar {
  background-color: $b5t3-bgcolor-1;
  .navbar-brand {
    color: $b5t3-fcolor-1;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: $white;
  }
  p {
    margin-bottom: 0;
    color: $b5t3-fcolor-1;
    font-size: 1.1rem;
  }
}

.b5t3-section-1 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.highlight {
  padding: 0.2em;
  border-radius: 5px;
}

.b5t3-blog-title h2 {
  padding-top: 1em;
  padding-bottom: 0;
  color: $primary;
  // font-family: $b5t3-font-1;
}

.b5t3-blog-date {
  p {
    padding-bottom: 0.2em;
    color: $b5t3-dtcolor-1;
    // font-family: $b5t3-font-1;
    text-align: left;
  }
}

.b5t3-blog-content {
  margin-top: 3em;
  // font-family: $b5t3-font-1;
}

.b5t3-page-title {
  margin-bottom: 2em;
  color: $primary;
}

.b5t3-post-item {
  border: 1px solid $b5t3-lncolor-1;
  border-radius: 5px;
  padding: 1em 1em 0.5em 1em;
}

.b5t3-post-title {
  border-bottom: 1px solid $b5t3-lncolor-1;
  a {
    text-decoration: none;
  }
}

.b5t3-post-excerpt {
  padding-top: 1.5em;
  p {
    text-align: justify;
  }
}

.b5t3-post-title {
  p {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: right;
  }
}

.b5t3-under-line {
  border-bottom: 1px solid $b5t3-lncolor-1;
}

.container {
  max-width: 900px;
}

.b5t3-sidebar {
  padding: 0.8em;
  border: 1px solid $b5t3-lncolor-1;
  border-radius: 5px;
  display: none;
}

@include media-breakpoint-up(md) {
  .b5t3-sidebar {
    display: block;
  }
}

.b5t3-portrait {
  padding-bottom: 1em;
  border-bottom: 1px solid $b5t3-lncolor-1;
}

.b5t3-portrait-img {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  background-image: url("/assets/image/blog_image.jpg");
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
}

.b5t3-owner {
  text-align: center;
  padding-top: 1em;
  color: $primary;
  // font-family: $b5t3-font-1;
  p {
    margin-bottom: 0.5em;
  }
}

.b5t3-description {
  font-size: 13px;
  text-align: left;
  p {
    margin-bottom: 0;
  }
}

.b5t3-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $white;
    border-top: 1px solid $b5t3-lncolor-1;
}

.b5t3-copyright {
  font-size: 14px;
  color: $b5t3-fcolor-2;
  text-align: center;
  em {
    color: $primary;
  }
}

code {
  font-family: $b5t3-font-2;
}
