$primary: #404040;
$gray-900: #3a3a3a;


// bing5tui3 variables
// background-color
$b5t3-bgcolor-1: $primary;
$b5t3-bgcolor-2: #666666;
// font-color
$b5t3-fcolor-1: #ffffff;
$b5t3-fcolor-2: #4775d1;
// date-color
$b5t3-dtcolor-1: #4775d1;
// line-color
$b5t3-lncolor-1: #dee4ed;
// hover
$b5t3-hvcolor-1: #486184;
// content head color
$b5t3-hcolor-1: #404040;
// blockquote color
$b5t3-bqcolor: #dee5ed;
// table of contents
$b5t3-toc-color: #404040;
// code color
$b5t3-code-color: #2e5cb8;

$b5t3-font-1: 'microsoft yahei';
$b5t3-font-2: 'Oxygen Mono', 'microsoft yahei';
$b5t3-font-3: 'Bangers', 'microsoft yahei', cursive;
