$primary: #4f6a91;


// bing5tui3 variables
// background-color
$b5t3-bgcolor-1: $primary;
// font-color
$b5t3-fcolor-1: #bdc9db;
// date-color
$b5t3-dtcolor-1: #7f7f7f;
// line-color
$b5t3-lncolor-1: #dee4ed;
// hover
$b5t3-hvcolor-1: #486184;

$b5t3-font-1: 'microsoft yahei';
$b5t3-font-2: 'Source Code Pro', 'microsoft yahei';
