$primary: #4f6a91;
$gray-900: #3a3a3a;


// bing5tui3 variables
// background-color
$b5t3-bgcolor-1: $primary;
$b5t3-bgcolor-2: #838bb5;
// font-color
$b5t3-fcolor-1: #bdc9db;
$b5t3-fcolor-2: #e83e8c;
// date-color
$b5t3-dtcolor-1: #e83e8c;
// line-color
$b5t3-lncolor-1: #dee4ed;
// hover
$b5t3-hvcolor-1: #486184;
// content head color
$b5t3-hcolor-1: #5b79a4;
// blockquote color
$b5t3-bqcolor: #dee5ed;
// table of contents
$b5t3-toc-color: #505091;

$b5t3-font-1: 'microsoft yahei';
$b5t3-font-2: 'Source Code Pro', 'microsoft yahei';
$b5t3-font-3: 'Londrina Solid', 'microsoft yahei', cursive;
