<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
  
  <title>{{ site.title }}</title>
  {% if tags == nil %}
  	{% include collecttags.html %}
  {% endif %}
</head>
