<!DOCTYPE html>
<html lang="en">

  {% include header.html %}

  <body>

    {% include navbar.html %}

    <section class="b5t3-section-1">
      <div class="container">

        <div class="row">
          <div class="col">
            <div class="b5t3-blog-title">
              <h2>{{ page.title }}</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="b5t3-blog-date b5t3-under-line">
              <p>{{ page.date | date_to_string }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="b5t3-blog-content">
              {{ content }}
            </div>
          </div>
        </div>

      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
